/**
* author: huweijian
* Date: 2018/11/5 - 5:28 PM
* Name: _no_wrap_more
* Desc: 多行省略
*/
no-wrap-more($col = 2)
  display: -webkit-box
  -webkit-box-orient: vertical
  -webkit-line-clamp: $col
  overflow: hidden
